

#header {
    color: rgba(47, 0, 255,0.5);
    text-transform: uppercase;
    text-decoration: underline;
}

p.joker {
    color:rgb(29, 58, 246);
} 

p {
    color:red;
    font-size:1.25em; 
}

a:hover {
color:rgb(81, 87, 255)
}

body {
    font-size: 19px;
}



h2:first-of-type{
    color:rgb(255, 164, 29);
}

ol:first-of-type li:nth-child(even) {
    color:rgb(109, 86, 202);
}

ul:last-of-type li:nth-last-child(2){
    color:green;
}

h1 {
    font-size: 2.2rem; 
}

h2 {
    font-size: 1.7rem; 
}

h3 {
    font-size: 1.7rem; 
}
nav ul:first-of-type{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
nav ul:first-of-type li {
    display: inline-block;
    margin-right: 10px; 
    font-size: 35px;
    display:inline-block;
}

nav ul:first-of-type li a{

    display: block;
    text-decoration: none; 
    padding: 10px 20px;
    background-color: #2ca0ff;
    color: white;
    border-radius: 50px;
}

nav ul:first-of-type::before{
    
    content: "\256C";
    margin: 5px;
    font-size:75px;
}

nav ul a::after {
    content: "\256C";
    margin-left:10px;
}

#img {
    width: calc(50%+150px);
}