body{
    font-family: Arial, Helvetica, sans-serif;
}


#divers {
    border: 3px solid aquamarine;
    position: absolute;
    top: 60px;
    left: 460px;
    padding: 40px;
    opacity: 0;
    animation: slideleft 1.2s linear forwards, shadow 1.2s linear forwards;;
}

@keyframes slideleft {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes shadow {
    from {
        box-shadow: 0px 0px 0px rgba(0,0,0,0); 
    }
    to {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3); 
    }
}


.tooltip{
    display: inline-block;
    margin-left: 10px;
    border:3px solid rgb(68, 68, 171);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.tooltip .ttleft, .tooltip .tttop, .tooltip .ttbottom, .tooltip .ttright {
    visibility: hidden; 
    width: 120px; 
    background-color: #555; 
    color: #fff; 
    text-align: center; 
    border-radius: 12px; 
    padding: 5px 0; 
    position: absolute; 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s; 
}


.tooltip .ttleft::after, .tooltip .tttop::after, .tooltip .ttbottom::after, .tooltip .ttright::after {
    content: ""; 
    position: absolute; 
    text-align: center;
    border-width: 5px; 
    border-style: solid; 
}

.tooltip .ttright::after {
    border-color: transparent transparent transparent rgb(68, 68, 171); 
    top: 55%; 
    right: 100%; 
    margin-top: -5px; 
}

.tooltip .ttbottom::after {
    border-color: rgb(68, 68, 171) transparent transparent transparent; 
    bottom: 100%; 
    left: 50%; 
    margin-left: -5px; 
}

.tooltip .tttop::after {
    border-color: transparent transparent rgb(68, 68, 171) transparent; 
    top: 100%; 
    left: 50%; 
    margin-left: -5px; 
}

.tooltip .ttleft::after {
    border-color: transparent rgb(68, 68, 171) transparent transparent; 
    top: 55%; 
    left: 100%;
    margin-top: -5px; 
}

.tooltip .ttleft{
    left:-78px;
    top:48px;
}

.tooltip .tttop{
    left:180px;
    bottom:75%;
}
 
.tooltip .ttbottom{
    left:320px;
    bottom:1.5%;
}

.tooltip .ttright{
    left:600px;
    top:48px;
}

.tooltip:hover .ttleft, .tooltip:hover .tttop, .tooltip:hover .ttbottom, .tooltip:hover .ttright {
    visibility: visible; 
    opacity: 1;
}
